Source: rmtfs
Section: utils
Priority: optional
Maintainer: Nicolas Dechesne <nicolas.dechesne@linaro.org>
Build-Depends: cdbs, debhelper (>= 7), qmic, libqrtr-dev
Standards-Version: 3.9.3
Homepage: https://github.com/andersson/rmtfs.git
Vcs-Git: https://github.com/andersson/rmtfs.git
Vcs-Browser: https://github.com/andersson/rmtfs.git

Package: rmtfs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: RMTFS QMI service
 The QDSP firmware requires access to storage, through the RMTFS QMI service.
 Implement this service to allow for us to load the QDSP firmware on relevant
 Qualcomm SoC.
